{
    skip_install_trust

    {$CADDY_GLOBAL_OPTIONS}

    frankenphp {
        worker {
            file ./public/index.php
            env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
            {$FRANKENPHP_WORKER_CONFIG}
        }
    }
}

