parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\:
        resource: '../src/'

    App\ShortLink\Infrastructure\Listeners\CacheShortLinkListener:
        tags:
            - { name: kernel.event_listener, event: App\ShortLink\Application\Events\ShortLinkCreated, method: onShortLinkCreated}
    App\ShortLink\Application\Listeners\IncrementClickCounterListener:
        tags:
            - { name: kernel.event_listener, event: App\ShortLink\Application\Events\ShortLinkAccessed, method: onShortLinkAccessed }

    _instanceof:
        App\Shared\Application\Command\CommandHandler:
            tags:
                - { name: 'messenger.message_handler', bus: command.bus }
